[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.22.0"
plotly = "==5.3.1"
dash = "==2.0.0"
dash-bootstrap-components = "==0.13.1"
dash-core-components = "==2.0.0"
dash-html-components = "==2.0.0"
dash-pivottable = "==0.0.2"
dash-renderer = "==1.8.3"
dash-table = "==5.0.0"
dash-trich-components = "==1.0.0"
dash-daq = "==0.5.0"
networkx = "==2.5"
pymongo = "==3.9.0"
gunicorn = "==20.0.4"
cached-property = "==1.5.2"
werkzeug = "==2.1.2"
python-dateutil = "==2.8.1"
flask = "==2.1.0"
flask-compress = "==1.8.0"
flask-cors = "==3.0.9"
flask-jsonpify = "==1.5.0"
flask-restful = "==0.3.6"
flask-restplus = "==0.13.0"
flask-restx = "==0.5.1"
flask-session = "==0.3.2"
flask-sqlalchemy = "==2.4.4"
pandas = "==1.4.3"
requests = "==2.25.1"
panel = "==0.12.1"
param = "==1.11.1"
matplotlib = "==3.5.1"
matplotlib-inline = "==0.1.5"
seaborn = "==0.11.2"
scipy = "==1.9.0"
jupyterhub-nativeauthenticator = "*"
psycopg2-binary = "*"
prophet = "*"
torch = ">=1.11.0"
scikit-learn = "*"
statsmodels = "*"
nltk = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.12"
